In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
%matplotlib inline

## 1. Column Group by
* 아래 세 단계를 적용하여 데이터 그룹화 수행 (SQL Group by 맥락)
    * 데이터 분할
    * operation 적용
    * 데이터 병합

In [5]:
df = pd.read_csv('./train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### 1. Groupby 수행
* 각 그룹과 그룹에 속한 index를 dict 형태로 반환

In [7]:
class_group = df.groupby('Pclass')

In [8]:
# group by한 데이터에 대하여 group 정보 출력
class_group.groups

{1: Int64Index([  1,   3,   6,  11,  23,  27,  30,  31,  34,  35,
             ...
             853, 856, 857, 862, 867, 871, 872, 879, 887, 889],
            dtype='int64', length=216),
 2: Int64Index([  9,  15,  17,  20,  21,  33,  41,  43,  53,  56,
             ...
             848, 854, 861, 864, 865, 866, 874, 880, 883, 886],
            dtype='int64', length=184),
 3: Int64Index([  0,   2,   4,   5,   7,   8,  10,  12,  13,  14,
             ...
             875, 876, 877, 878, 881, 882, 884, 885, 888, 890],
            dtype='int64', length=491)}

In [9]:
gender_group = df.groupby('Sex')
gender_group.groups

{'female': Int64Index([  1,   2,   3,   8,   9,  10,  11,  14,  15,  18,
             ...
             866, 871, 874, 875, 879, 880, 882, 885, 887, 888],
            dtype='int64', length=314),
 'male': Int64Index([  0,   4,   5,   6,   7,  12,  13,  16,  17,  20,
             ...
             873, 876, 877, 878, 881, 883, 884, 886, 889, 890],
            dtype='int64', length=577)}

#### 2. Groupping 함수
* 그룹 데이터에 적용 가능한 통계 함수 (단, NaN은 제외하여 연산)
    * count, sum, mean, std, var, min, max ... 등

In [10]:
class_group.count()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Pclass,,,,,,,,,,,
1,216,216,216,216,186,216,216,216,216,176,214
2,184,184,184,184,173,184,184,184,184,16,184
3,491,491,491,491,355,491,491,491,491,12,491

In [11]:
class_group.sum()

        PassengerId  Survived      Age  SibSp  Parch        Fare
Pclass
1             99705       136  7111.42     90     77  18177.4125
2             82056        87  5168.83     74     70   3801.8417
3            215625       119  8924.92    302    193   6714.6951

In [14]:
# 객실 등급에 따른 생존율
class_group.mean()['Survived']

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [16]:
# df.groupby('Sex').mean()['Survived']
gender_group.mean()['Survived']

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

#### 3. 복수 컬럼 Groupping
* group by에 컬럼 리스트를 전달
* 반환 결과는 Multi-index를 가지는 Data frame

In [17]:
df.groupby(['Pclass', 'Sex']).mean()

               PassengerId  Survived        Age     SibSp     Parch  \
Pclass Sex
1      female   469.212766  0.968085  34.611765  0.553191  0.457447
       male     455.729508  0.368852  41.281386  0.311475  0.278689
2      female   443.105263  0.921053  28.722973  0.486842  0.605263
       male     447.962963  0.157407  30.740707  0.342593  0.222222
3      female   399.729167  0.500000  21.750000  0.895833  0.798611
       male     455.515850  0.135447  26.507589  0.498559  0.224784

                     Fare
Pclass Sex
1      female  106.125798
       male     67.226127
2      female   21.970121
       male     19.741782
3      female   16.118810
       male     12.661633

In [18]:
# 2등급의 여성 데이터만 가져오기
df.groupby(['Pclass', 'Sex']).mean().loc[(2, 'female')]

PassengerId    443.105263
Survived         0.921053
Age             28.722973
SibSp            0.486842
Parch            0.605263
Fare            21.970121
Name: (2, female), dtype: float64

In [19]:
df.groupby(['Pclass', 'Sex']).mean()['Survived']

Pclass  Sex
1       female    0.968085
        male      0.368852
2       female    0.921053
        male      0.157407
3       female    0.500000
        male      0.135447
Name: Survived, dtype: float64

## 2. Index Group by

#### 1. Index Grouppong
* **set_index** 함수
    * column 데이터를 Index 레벨로 변경
* **reset_index** 함수
    * 인덱스 초기화

In [23]:
# 명시된 컬럼을 대상으로 Index Level로 변환 수행.
df.set_index(['Pclass', 'Sex'])
#df.reset_index()

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [24]:
# index로 Group by 할 경우, 왼쪽부터 index level이 0부터 시작
# 즉, 만약 Age로 Index를 하고 이 Index로 Group by 수행 시 다음과 같음
df.set_index('Age').groupby(level=0).mean()

       PassengerId  Survived    Pclass     SibSp     Parch        Fare
Age
0.42    804.000000  1.000000  3.000000  0.000000  1.000000    8.516700
0.67    756.000000  1.000000  2.000000  1.000000  1.000000   14.500000
0.75    557.500000  1.000000  3.000000  2.000000  1.000000   19.258300
0.83    455.500000  1.000000  2.000000  0.500000  1.500000   23.875000
0.92    306.000000  1.000000  1.000000  1.000000  2.000000  151.550000
1.00    415.428571  0.714286  2.714286  1.857143  1.571429   30.005957
2.00    346.900000  0.300000  2.600000  2.100000  1.300000   37.536250
3.00    272.000000  0.833333  2.500000  1.833333  1.333333   25.781950
4.00    466.100000  0.700000  2.600000  1.600000  1.400000   29.543330
5.00    380.000000  1.000000  2.750000  1.750000  1.250000   22.717700
6.00    762.333333  0.666667  2.666667  1.333333  1.333333   25.583333
7.00    288.666667  0.333333  2.666667  2.666667  1.333333   31.687500
8.00    400.250000  0.500000  2.500000  2.000000  1.250000   28.300000
9.00    437.250000  0.250000  3.000000  2.500000  1.750000   27.938538
10.00   620.000000  0.000000  3.000000  1.500000  2.000000   26.025000
11.00   534.500000  0.250000  2.500000  2.500000  1.500000   54.240625
12.00   126.000000  1.000000  3.000000  1.000000  0.000000   11.241700
13.00   614.000000  1.000000  2.500000  0.000000  0.500000   13.364600
14.00   312.000000  0.500000  2.500000  2.000000  0.833333   42.625700
14.50   112.000000  0.000000  3.000000  1.000000  0.000000   14.454200
15.00   554.600000  0.800000  2.600000  0.400000  0.400000   49.655020
16.00   422.294118  0.352941  2.529412  0.764706  0.529412   25.745100
17.00   423.000000  0.461538  2.384615  0.615385  0.384615   28.389423
18.00   516.269231  0.346154  2.461538  0.384615  0.423077   38.063462
19.00   389.400000  0.360000  2.360000  0.320000  0.200000   27.869496
20.00   493.066667  0.200000  3.000000  0.200000  0.066667    8.624173
20.50   228.000000  0.000000  3.000000  0.000000  0.000000    7.250000
21.00   390.208333  0.208333  2.583333  0.333333  0.208333   31.565621
22.00   365.740741  0.407407  2.555556  0.148148  0.222222   25.504781
23.00   510.266667  0.333333  2.133333  0.400000  0.266667   37.994720
...            ...       ...       ...       ...       ...         ...
44.00   437.111111  0.333333  2.111111  0.444444  0.222222   29.758333
45.00   367.500000  0.416667  2.000000  0.333333  0.583333   36.818408
45.50   268.000000  0.000000  2.000000  0.000000  0.000000   17.862500
46.00   427.000000  0.000000  1.333333  0.333333  0.000000   55.458333
47.00   534.666667  0.111111  1.777778  0.222222  0.111111   27.601389
48.00   663.111111  0.666667  1.666667  0.555556  0.555556   37.893067
49.00   533.500000  0.666667  1.333333  0.666667  0.166667   59.929183
50.00   457.200000  0.500000  1.600000  0.400000  0.200000   64.025830
51.00   456.142857  0.285714  2.000000  0.142857  0.142857   28.752386
52.00   589.500000  0.500000  1.333333  0.500000  0.333333   51.402783
53.00   572.000000  1.000000  1.000000  2.000000  0.000000   51.479200
54.00   383.625000  0.375000  1.500000  0.500000  0.500000   44.477087
55.00   254.500000  0.500000  1.500000  0.000000  0.000000   23.250000
55.50   153.000000  0.000000  3.000000  0.000000  0.000000    8.050000
56.00   542.750000  0.500000  1.000000  0.000000  0.250000   43.976025
57.00   700.000000  0.000000  2.000000  0.000000  0.000000   11.425000
58.00   325.000000  0.600000  1.000000  0.000000  0.600000   93.901660
59.00   164.000000  0.000000  2.500000  0.000000  0.000000   10.375000
60.00   583.750000  0.500000  1.250000  0.750000  0.500000   55.000000
61.00   374.666667  0.000000  1.666667  0.000000  0.000000   24.019433
62.00   552.500000  0.500000  1.250000  0.000000  0.000000   35.900000
63.00   380.000000  1.000000  2.000000  0.500000  0.000000   43.772900
64.00   492.500000  0.000000  1.000000  0.500000  2.000000  144.500000
65.00   264.333333  0.000000  1.666667  0.000000  0.333333   32.093067
66.00    34.000000  0.000000  2.000000  0.000000  0.000000   10.500000
70.00   709.500000  0.000000  1.500000  0.500000  0.500000   40.750000
70.50   117.000000  0.000000  3.000000  0.000000  0.000000    7.750000
71.00   295.500000  0.000000  1.000000  0.000000  0.000000   42.079200
74.00   852.000000  0.000000  3.000000  0.000000  0.000000    7.775000
80.00   631.000000  1.000000  1.000000  0.000000  0.000000   30.000000

[88 rows x 6 columns]

In [26]:
#############################################
# 나이대별로 성별 구하기
############################################# 

import math
def transfer_age(age):
    if math.isnan(age):
        return -1
    return math.floor(age / 10) * 10

In [29]:
# Index를 사용할 경우, 다음과 같이 함수를 사용하여 group by할 수 있다.
df.set_index('Age').groupby(transfer_age).mean()

     PassengerId  Survived    Pclass     SibSp     Parch       Fare
-1    435.581921  0.293785  2.598870  0.564972  0.180791  22.158567
 0    424.741935  0.612903  2.629032  1.854839  1.403226  30.576679
 10   444.362745  0.401961  2.470588  0.666667  0.470588  32.535132
 20   433.231818  0.350000  2.450000  0.322727  0.250000  27.278937
 30   472.449102  0.437126  2.113772  0.353293  0.329341  40.377294
 40   465.606742  0.382022  1.966292  0.370787  0.471910  38.002297
 50   440.187500  0.416667  1.562500  0.291667  0.270833  47.933333
 60   433.736842  0.315789  1.473684  0.263158  0.368421  48.367542
 70   496.500000  0.000000  1.833333  0.166667  0.166667  30.197233
 80   631.000000  1.000000  1.000000  0.000000  0.000000  30.000000

#### 2. Multi-Index를 이용한 Groupping

In [33]:
df.set_index(['Pclass', 'Sex']).groupby(level=[0, 1]).mean()

               PassengerId  Survived        Age     SibSp     Parch  \
Pclass Sex
1      female   469.212766  0.968085  34.611765  0.553191  0.457447
       male     455.729508  0.368852  41.281386  0.311475  0.278689
2      female   443.105263  0.921053  28.722973  0.486842  0.605263
       male     447.962963  0.157407  30.740707  0.342593  0.222222
3      female   399.729167  0.500000  21.750000  0.895833  0.798611
       male     455.515850  0.135447  26.507589  0.498559  0.224784

                     Fare
Pclass Sex
1      female  106.125798
       male     67.226127
2      female   21.970121
       male     19.741782
3      female   16.118810
       male     12.661633

#### 3. Aggregate (집계) 함수
*  group by 결과에 다양한 집계 함수를 사용하여 그룹별로 데이터 확인 가능

In [34]:
df.set_index(['Pclass', 'Sex']).groupby(level=[0, 1]).aggregate([np.mean, np.sum, np.max])

              PassengerId               Survived                 Age           \
                     mean     sum amax      mean sum amax       mean      sum
Pclass Sex
1      female  469.212766   44106  888  0.968085  91    1  34.611765  2942.00
       male    455.729508   55599  890  0.368852  45    1  41.281386  4169.42
2      female  443.105263   33676  881  0.921053  70    1  28.722973  2125.50
       male    447.962963   48380  887  0.157407  17    1  30.740707  3043.33
3      female  399.729167   57561  889  0.500000  72    1  21.750000  2218.50
       male    455.515850  158064  891  0.135447  47    1  26.507589  6706.42

                        SibSp               Parch                  Fare  \
               amax      mean  sum amax      mean  sum amax        mean
Pclass Sex
1      female  63.0  0.553191   52    3  0.457447   43    2  106.125798
       male    80.0  0.311475   38    3  0.278689   34    4   67.226127
2      female  57.0  0.486842   37    3  0.605263   46    3   21.970121
       male    70.0  0.342593   37    2  0.222222   24    2   19.741782
3      female  63.0  0.895833  129    8  0.798611  115    6   16.118810
       male    74.0  0.498559  173    8  0.224784   78    5   12.661633


                     sum      amax
Pclass Sex
1      female  9975.8250  512.3292
       male    8201.5875  512.3292
2      female  1669.7292   65.0000
       male    2132.1125   73.5000
3      female  2321.1086   69.5500
       male    4393.5865   69.5500

## 3. Transform 함수

* Group by 후 transform 함수 사용 시, 원래 Index를 유지한 상태로 통계 함수 적용
* 전체 데이터의 집계가 아닌 각 그룹에서의 집계 계산
    * 따라서 새로 생성된 데이터를 원본 Dataframe과 Merge하기 용이

In [38]:
df['Age2'] = df.groupby('Pclass').transform(np.mean)['Age']
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age2
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,25.140620
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,38.233441
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,25.140620
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,38.233441
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,25.140620
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,25.140620
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,38.233441
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,25.140620
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,25.140620
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,29.877630
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,25.140620
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,38.233441
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,25.140620
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,25.140620
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,25.140620
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,29.877630
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,25.140620
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,29.877630
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,25.140620
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,25.140620
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,29.877630
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,29.877630
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,25.140620
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,38.233441
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,25.140620
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,25.140620
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,25.140620
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,38.233441
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,25.140620
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,25.140620
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,29.877630
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,38.233441
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,25.140620
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S,29.877630
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,29.877630
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,29.877630
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,38.233441
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,25.140620
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,25.140620
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S,25.140620
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,38.233441
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,38.233441
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,25.140620
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,29.877630
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,25.140620
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S,25.140620
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S,25.140620
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,25.140620
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,38.233441
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,29.877630
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S,25.140620
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,25.140620
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,29.877630
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,25.140620
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,25.140620
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,29.877630
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,38.233441
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,25.140620
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,38.233441
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,25.140620

In [42]:
df.groupby(['Pclass', 'Sex']).transform(np.mean)

,PassengerId,Survived,Age,SibSp,Parch,Fare,Age2
0,455.515850,0.135447,26.507589,0.498559,0.224784,12.661633,25.140620
1,469.212766,0.968085,34.611765,0.553191,0.457447,106.125798,38.233441
2,399.729167,0.500000,21.750000,0.895833,0.798611,16.118810,25.140620
3,469.212766,0.968085,34.611765,0.553191,0.457447,106.125798,38.233441
4,455.515850,0.135447,26.507589,0.498559,0.224784,12.661633,25.140620
5,455.515850,0.135447,26.507589,0.498559,0.224784,12.661633,25.140620
6,455.729508,0.368852,41.281386,0.311475,0.278689,67.226127,38.233441
7,455.515850,0.135447,26.507589,0.498559,0.224784,12.661633,25.140620
8,399.729167,0.500000,21.750000,0.895833,0.798611,16.118810,25.140620
9,443.105263,0.921053,28.722973,0.486842,0.605263,21.970121,29.877630
10,399.729167,0.500000,21.750000,0.895833,0.798611,16.118810,25.140620
11,469.212766,0.968085,34.611765,0.553191,0.457447,106.125798,38.233441
12,455.515850,0.135447,26.507589,0.498559,0.224784,12.661633,25.140620
13,455.515850,0.135447,26.507589,0.498559,0.224784,12.661633,25.140620
14,399.729167,0.500000,21.750000,0.895833,0.798611,16.118810,25.140620
15,443.105263,0.921053,28.722973,0.486842,0.605263,21.970121,29.877630
16,455.515850,0.135447,26.507589,0.498559,0.224784,12.661633,25.140620
17,447.962963,0.157407,30.740707,0.342593,0.222222,19.741782,29.877630
18,399.729167,0.500000,21.750000,0.895833,0.798611,16.118810,25.140620
19,399.729167,0.500000,21.750000,0.895833,0.798611,16.118810,25.140620
20,447.962963,0.157407,30.740707,0.342593,0.222222,19.741782,29.877630
21,447.962963,0.157407,30.740707,0.342593,0.222222,19.741782,29.877630
22,399.729167,0.500000,21.750000,0.895833,0.798611,16.118810,25.140620
23,455.729508,0.368852,41.281386,0.311475,0.278689,67.226127,38.233441
24,399.729167,0.500000,21.750000,0.895833,0.798611,16.118810,25.140620
25,399.729167,0.500000,21.750000,0.895833,0.798611,16.118810,25.140620
26,455.515850,0.135447,26.507589,0.498559,0.224784,12.661633,25.140620
27,455.729508,0.368852,41.281386,0.311475,0.278689,67.226127,38.233441
28,399.729167,0.500000,21.750000,0.895833,0.798611,16.118810,25.140620
29,455.515850,0.135447,26.507589,0.498559,0.224784,12.661633,25.140620
...,...,...,...,...,...,...,...
861,447.962963,0.157407,30.740707,0.342593,0.222222,19.741782,29.877630
862,469.212766,0.968085,34.611765,0.553191,0.457447,106.125798,38.233441
863,399.729167,0.500000,21.750000,0.895833,0.798611,16.118810,25.140620
864,447.962963,0.157407,30.740707,0.342593,0.222222,19.741782,29.877630
865,443.105263,0.921053,28.722973,0.486842,0.605263,21.970121,29.877630
866,443.105263,0.921053,28.722973,0.486842,0.605263,21.970121,29.877630
867,455.729508,0.368852,41.281386,0.311475,0.278689,67.226127,38.233441
868,455.515850,0.135447,26.507589,0.498559,0.224784,12.661633,25.140620
869,455.515850,0.135447,26.507589,0.498559,0.224784,12.661633,25.140620
870,455.515850,0.135447,26.507589,0.498559,0.224784,12.661633,25.140620
871,469.212766,0.968085,34.611765,0.553191,0.457447,106.125798,38.233441
872,455.729508,0.368852,41.281386,0.311475,0.278689,67.226127,38.233441
873,455.515850,0.135447,26.507589,0.498559,0.224784,12.661633,25.140620
874,443.105263,0.921053,28.722973,0.486842,0.605263,21.970121,29.877630
875,399.729167,0.500000,21.750000,0.895833,0.798611,16.118810,25.140620
876,455.515850,0.135447,26.507589,0.498559,0.224784,12.661633,25.140620
877,455.515850,0.135447,26.507589,0.498559,0.224784,12.661633,25.140620
878,455.515850,0.135447,26.507589,0.498559,0.224784,12.661633,25.140620
879,469.212766,0.968085,34.611765,0.553191,0.457447,106.125798,38.233441
880,443.105263,0.921053,28.722973,0.486842,0.605263,21.970121,29.877630
881,455.515850,0.135447,26.507589,0.498559,0.224784,12.661633,25.140620
882,399.729167,0.500000,21.750000,0.895833,0.798611,16.118810,25.140620
883,447.962963,0.157407,30.740707,0.342593,0.222222,19.741782,29.877630
884,455.515850,0.135447,26.507589,0.498559,0.224784,12.661633,25.140620
885,399.729167,0.500000,21.750000,0.895833,0.798611,16.118810,25.140620
886,447.962963,0.157407,30.740707,0.342593,0.222222,19.741782,29.877630
887,469.212766,0.968085,34.611765,0.553191,0.457447,106.125798,38.233441
888,399.729167,0.500000,21.750000,0.895833,0.798611,16.118810,25.140620
889,455.729508,0.368852,41.281386,0.311475,0.278689,67.226127,38.233441
890,455.515850,0.135447,26.507589,0.498559,0.224784,12.661633,25.140620