In [1]:
import numpy as np
import pandas as pd

## 1. Series 정의

* index를 지정하지 않을 시, **ndarray와 같이 0-based index** 생성
* index를 지정할 경우 **명시적으로 지정된 index** 사용
* 같은 타입의 0개 이상 데이터를 가질 수 있음

#### Series 생성

In [19]:
s1 = pd.Series([1,2,3])
s2 = pd.Series(np.arange(5))

print(s1)
print(s2)

0    1
1    2
2    3
dtype: int64
0    0
1    1
2    2
3    3
4    4
dtype: int32

In [20]:
st = pd.Series([1,2,3], ['a', 'm', 'k'])
print(st)

sa = pd.Series(np.arange(5), np.arange(100, 105), dtype=np.int16)
print(sa)

a    1
m    2
k    3
dtype: int64
100    0
101    1
102    2
103    3
104    4
dtype: int16

#### index 활용

In [36]:
# 1) 데이터 추출
print(sa.index)
print(sa.values)

print("sa.index[2] 값:", sa.index[2])
print("sa.values[3] 값:", sa.values[3])

Int64Index([100, 101, 102, 103, 104], dtype='int64')
[ 0  1 70  3  4]
sa.index[2] 값: 102
sa.values[3] 값: 3

In [37]:
# 인덱스를 통한 데이터 Update
sa[102] = 70
print(sa)

100     0
101     1
102    70
103     3
104     4
dtype: int16

In [38]:
# 인덱스 재사용
s7 = pd.Series(np.arange(5), sa.index)
print(s7)

100    0
101    1
102    2
103    3
104    4
dtype: int32

## 2. Series 함수 및 연산

#### Series 함수를 활용한 데이터 분석

In [2]:
s = pd.Series([1,2,3,5,3,3,3,2,5,1,5,7,np.NaN])
s

0     1.0
1     2.0
2     3.0
3     5.0
4     3.0
5     3.0
6     3.0
7     2.0
8     5.0
9     1.0
10    5.0
11    7.0
12    NaN
dtype: float64

In [9]:
print(s.size) # 객체의 길이
print(s.shape) # 튜플 형태 반환
print(s.unique()) # 중복이 제거된 uniq한 값 반환
print(s.count()) # Null을 제외한 개수 반환

13
(13,)
[ 1.  2.  3.  5.  7. nan]
12

In [15]:
# 아래 numpy로 생성할 경우, Nan값을 연산하지 못해 오류 발생
a = np.array([2,2,2,2,np.NaN])
a.mean() # 결과값으로 nan 출력됨

b = pd.Series(a)
b.mean()

2.0

In [20]:
# 데이터의 빈도수 Count
s.value_counts()

# index 값을 이용하여 멀티값 추출
s[[5,7,8]]
s[[5,7,8]].value_counts()

s.head(n=2)
s.tail(n=2)

11    7.0
12    NaN
dtype: float64

#### Series 데이터 연산

In [23]:
s1 = pd.Series([1,2,3,4], ['a','b','c','d'])
s2 = pd.Series([6,3,2,1], ['d','c','b','a'])

In [24]:
# 기본 산술연산
s1 + s2

a     2
b     4
c     6
d    10
dtype: int64

In [25]:
s1 ** 2

a     1
b     4
c     9
d    16
dtype: int64

In [26]:
# 인덱스 pair가 맞지 않을 경우 Nan으로 생성됨
s1['k'] = 7
s2['e'] = 2

In [27]:
s1 + s2

a     2.0
b     4.0
c     6.0
d    10.0
e     NaN
k     NaN
dtype: float64