## 조건문

### 01. IF - ELIF - ELSE

In [ ]:
import datetime

now = datetime.datetime.now()
#tomorrow = now + datetime.timedelta(days=1)

today = str(now.date())
#tomorrow = tomorrow.date()

if today == '2020-08-13':
    print("오늘 일자는", today, "입니다")
else:
    print("수행 기준을 지났습니다. (일자:", today, ")")
    
    
target = 4

if target == 1:
    print("★")
elif target == 2:
    print("★★")
elif target == 3:
    print("★★★")
else:
    print("★★★★!!!")

## 반복문

### 01. While문

In [9]:
age = [10, 40, 30, 20]
age.sort() # 정렬 수행
i = 0 # 반복 index 초기설정

## i < len(age) 조건을 만족할동안만 수행
while i < len(age):

    #print(age[i])
    i += 1

    if age[i] >= 40:
        print("[Error] 40세 이상은 출입할 수 없습니다.")
        break
    elif age[i] >= 30:
        print("[Warn] 30세 이상입니다.")
        #continue
        
num = 1
_sum = 0
while True:
    _sum += num
    num += 1
    
    if num >= 100:
        break
        
print("1부터 100까지 합계:", _sum)

[Warn] 30세 이상입니다.
[Error] 40세 이상은 출입할 수 없습니다.
1부터 100까지 합계: 4950

### 02. For문

In [15]:
age = [22, 64, 92, 55]

for i in age:
    print(i)
    
## dict의 아이템 출력하기
target = {'korea':'seoul','japan':'tokyo'}

## items()를 이용한 튜플 변환으로 key, value를 한번에 가져올 수 있음
for k, v in target.items():
    print(k, v) # korea seoul

22
64
92
55
korea seoul
japan tokyo

#### For문에서 Index 활용하기
* enumerate() 함수

In [24]:
a = [1, 2, 3, 4, 5]

for i, val in enumerate(a):
    if val == 5:
        break
    elif val == 3:
        continue
        
    #print(val)# (0, 1) (0, 2) ... (4, 5) 형식의 Index 및 Value 출력

a = [1, 2, 4]
for i in a:
    for j in a:
        print(i * j) # 1, 2, 4 -> 2, 4, 8 -> ...

1
2
4
2
4
8
4
8
16

In [30]:
### 구구단 출력 ###

x = [1, 2, 3, 4, 5, 6, 7, 8, 9] ## 곱할 숫자
y = [2, 3, 4, 5, 6, 7, 8, 9] ## 2단, 3단, 4단...

for a in y:
    for b in x:
        print("[",a,"단]", a, "*", b, "=", a * b)

[ 2 단] 2 * 1 = 2
[ 2 단] 2 * 2 = 4
[ 2 단] 2 * 3 = 6
[ 2 단] 2 * 4 = 8
[ 2 단] 2 * 5 = 10
[ 2 단] 2 * 6 = 12
[ 2 단] 2 * 7 = 14
[ 2 단] 2 * 8 = 16
[ 2 단] 2 * 9 = 18
[ 3 단] 3 * 1 = 3
[ 3 단] 3 * 2 = 6
[ 3 단] 3 * 3 = 9
[ 3 단] 3 * 4 = 12
[ 3 단] 3 * 5 = 15
[ 3 단] 3 * 6 = 18
[ 3 단] 3 * 7 = 21
[ 3 단] 3 * 8 = 24
[ 3 단] 3 * 9 = 27
[ 4 단] 4 * 1 = 4
[ 4 단] 4 * 2 = 8
[ 4 단] 4 * 3 = 12
[ 4 단] 4 * 4 = 16
[ 4 단] 4 * 5 = 20
[ 4 단] 4 * 6 = 24
[ 4 단] 4 * 7 = 28
[ 4 단] 4 * 8 = 32
[ 4 단] 4 * 9 = 36
[ 5 단] 5 * 1 = 5
[ 5 단] 5 * 2 = 10
[ 5 단] 5 * 3 = 15
[ 5 단] 5 * 4 = 20
[ 5 단] 5 * 5 = 25
[ 5 단] 5 * 6 = 30
[ 5 단] 5 * 7 = 35
[ 5 단] 5 * 8 = 40
[ 5 단] 5 * 9 = 45
[ 6 단] 6 * 1 = 6
[ 6 단] 6 * 2 = 12
[ 6 단] 6 * 3 = 18
[ 6 단] 6 * 4 = 24
[ 6 단] 6 * 5 = 30
[ 6 단] 6 * 6 = 36
[ 6 단] 6 * 7 = 42
[ 6 단] 6 * 8 = 48
[ 6 단] 6 * 9 = 54
[ 7 단] 7 * 1 = 7
[ 7 단] 7 * 2 = 14
[ 7 단] 7 * 3 = 21
[ 7 단] 7 * 4 = 28
[ 7 단] 7 * 5 = 35
[ 7 단] 7 * 6 = 42
[ 7 단] 7 * 7 = 49
[ 7 단] 7 * 8 = 56
[ 7 단] 7 * 9 = 63
[ 8 단] 8 * 1 = 8
[ 8 단] 8 * 2 = 16
[ 8 단] 8 * 3 = 24
[ 8 단] 8 * 4 = 32
[ 8 단] 8 * 5 = 40
[ 8 단] 8 * 6 = 48
[ 8 단] 8 * 7 = 56
[ 8 단] 8 * 8 = 64
[ 8 단] 8 * 9 = 72
[ 9 단] 9 * 1 = 9
[ 9 단] 9 * 2 = 18
[ 9 단] 9 * 3 = 27
[ 9 단] 9 * 4 = 36
[ 9 단] 9 * 5 = 45
[ 9 단] 9 * 6 = 54
[ 9 단] 9 * 7 = 63
[ 9 단] 9 * 8 = 72
[ 9 단] 9 * 9 = 81

#### range 함수
* 리스트 생성 함수

In [39]:
list(range(2,10,2))

## 1부터 100사이의 5의 배수를 가지는 리스트 생성
list(range(5,101,5))

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

### if & for 연습문제
   
  2. 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오. 
  4. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오. (sorted, sort 사용 금지)
  5. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요

In [8]:
for i in range(1,101):
    if i % 2 == 0 or i % 11 == 0:
        print("2 또는 11의 배수:", i)

IndentationError: expected an indented block (<ipython-input-8-0e70b97de9d7>, line 5)

In [32]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

_min = a[0]
_max = a[0]

for i in a:
    if _min > i:
        _min = i
    if _max < i:
        _max = i
        
print("최소", _min, "최대", _max)

_total = 0

for i in a:
    _total += i
 
print("합계", _total)
_mean = _total / len(a)

print("평균", _mean)

최소 1 최대 99
합계 481
평균 37.0